<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = "news"
    stylesheets = ["/static/css/news_view.css"]
%>

## SEO Stuff
<%block name="title">${post.title} &middot; Glowstone</%block>
<%block name="description">${post.summary}</%block>

<%block name="og_title">${post.title}</%block>
<%block name="og_description">${post.summary}</%block>

<%
    import hashlib

    def news_post_tabs(posts):
        return "".join(["""<a class="nav-item is-tab" href="/news/{}">{}</a>""".format(post.id, post.title) for post in posts])

    def gravatar_hash(email):
        email = email.strip()
        email = email.lower()
        email = email.encode("UTF-8")

        return hashlib.md5(email).hexdigest()

    def get_poster_avatar(post):
        return "https://www.gravatar.com/avatar/{}".format(gravatar_hash(post.user.email))
%>

<nav class="nav has-shadow" style="padding-left: 1%">
    <div class="container">
        <div class="nav-left">
            % if news_posts and len(news_posts):
            <span class="nav-item">Latest news:</span>
            ${news_post_tabs(news_posts)}
            % else:
            <span class="nav-item">No news found</span>
            % endif
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <p class="field">
            <a class="button is-outlined is-primary" href="/news">
                <span class="icon">
                    <i class="fa fa-chevron-left"></i>
                </span>
                <span>Back to list</span>
            </a>

            % if post.comment_url:
                <a class="button is-primary is-pulled-right" href="${post.comment_url}">
                    <span class="icon">
                        <i class="fa fa-comments"></i>
                    </span>
                    <span>Comments</span>
                </a>
            % else:
            <button disabled class="button is-primary is-pulled-right">
                    <span class="icon">
                        <i class="fa fa-comments"></i>
                    </span>
                    <span>Comments</span>
                </button>
            % endif


        </p>
        <br />
        <div class="box news-view content gallery">
##             <div class="box news-poster">
##                 <img class="news-poster-avatar" src="${get_poster_avatar(post)}">
##                 <div class="news-poster-info">
##                     <span class="username">${post.user.username}</span>
##                     <br>
##                     <span class="date">${format_date(post.posted)}</span>
##                 </div>
##             </div>
            <div class="news-title-section">
                <div class="is-pulled-right" style="display: block;">
                    <img src="${get_poster_avatar(post)}"
                         class="box image is-32x32"
                         title="Posted by ${post.user.username}"
                    />
                </div>
                <a href="/news/${post.id}">
                    <h1 class="news-title" style="display: inline">
                        ${post.title}
                    </h1>
                </a>
                <br>
                <span class="news-subtitle" style="display: inline" class="title is-3">
                    ${format_date(post.posted)}
                    % if post.comment_url:
                    &nbsp;&mdash;&nbsp; <a href="${post.comment_url}">Comments</a>
                    % endif
                </span>
            </div>
            <hr>
            ${post.html}
        </div>
    </div>
</section>

<%include file="sponsors.html" />
