<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = "news"
    stylesheets = ["/static/css/news_view.css"]
%>

## SEO Stuff
<%block name="title">News &middot; Glowstone</%block>
<%block name="description">The latest news for the project</%block>

<%block name="og_title">News &middot; Glowstone</%block>
<%block name="og_description">The latest news for the project</%block>

<%
    import hashlib

    def news_post_tabs(posts):
        return "".join(["""<a class="nav-item is-tab" href="/news/{}">{}</a>""".format(post.id, post.title) for post in posts])

    def gravatar_hash(email):
        email = email.strip()
        email = email.lower()
        email = email.encode("UTF-8")

        return hashlib.md5(email).hexdigest()

    def get_poster_avatar(post):
        return "https://www.gravatar.com/avatar/{}".format(gravatar_hash(post.user.email))
%>

<nav class="nav has-shadow" style="padding-left: 1%">
    <div class="container">
        <div class="nav-left">
            % if latest_news:
            <span class="nav-item">Latest news:</span>
            ${news_post_tabs(latest_news)}
            % else:
            <span class="nav-item">No news found</span>
            % endif
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <a href="/feeds" class="button is-primary is-pulled-right">
            <span class="icon">
                <i class="fa fa-rss"></i>
            </span>
        </a>
        <h1 class="title">
            News
        </h1>

        <nav class="pagination is-centered">
            % if page > 1:
            <a class="pagination-previous" href="/news?page=${(page - 1)}">Newer posts</a>
            % else:
            <a class="pagination-previous" disabled>Newer posts</a>
            % endif

            % if page < pages:
            <a class="pagination-next" href="/news?page=${(page + 1)}">Older posts</a>
            % else:
            <a class="pagination-next" disabled>Older posts</a>
            % endif

            <ul class="pagination-list">
                % if page > 1:
                <li>
                    <a class="pagination-link" href="/news?page=1">1</a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                % endif

                % if page - 1 > 1:
                <li>
                    <a class="pagination-link" href="/news?page=${(page - 1)}">${(page - 1)}</a>
                </li>
                % endif
                <li>
                    <a class="pagination-link is-current">${page}</a>
                </li>
                % if page + 1 < pages:
                <li>
                    <a class="pagination-link" href="/news?page=${(page +1)}">${(page +1)}</a>
                </li>
                % endif

                % if page < pages:
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>

                <li>
                    <a class="pagination-link" href="/news?page=${pages}">${pages}</a>
                </li>
                % endif
              </ul>
        </nav>

        <br />

        % if len(news_posts):
            % for post in news_posts:
        <div class="box news-view content gallery">
            <div class="news-title-section">
                <div class="is-pulled-right" style="display: block;">
                    <img src="${get_poster_avatar(post)}"
                         class="box image is-32x32"
                         title="Posted by ${post.user.username}"
                    />
                </div>
                <a href="/news/${post.id}">
                    <h1 class="news-title" style="display: inline">
                        ${post.title}
                    </h1>
                </a>
                <br>
                <span class="news-subtitle" style="display: inline" class="title is-3">
                    ${format_date(post.posted)}
                    % if post.comment_url:
                    &nbsp;&mdash;&nbsp; <a href="${post.comment_url}">Comments</a>
                    % endif
                </span>
            </div>
            <hr>
            ${post.html}
        </div>
            % endfor
        % else:
            <h2 class="subtitle">No news posts were found.</h2>

        % endif

    <nav class="pagination is-centered">
            % if page > 1:
            <a class="pagination-previous" href="/news?page=${(page - 1)}">Newer posts</a>
            % else:
            <a class="pagination-previous" disabled>Newer posts</a>
            % endif

            % if page < pages:
            <a class="pagination-next" href="/news?page=${(page + 1)}">Older posts</a>
            % else:
            <a class="pagination-next" disabled>Older posts</a>
            % endif

            <ul class="pagination-list">
                % if page > 1:
                <li>
                    <a class="pagination-link" href="/news?page=1">1</a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                % endif

                % if page - 1 > 1:
                <li>
                    <a class="pagination-link" href="/news?page=${(page - 1)}">${(page - 1)}</a>
                </li>
                % endif
                <li>
                    <a class="pagination-link is-current">${page}</a>
                </li>
                % if page + 1 < pages:
                <li>
                    <a class="pagination-link" href="/news?page=${(page +1)}">${(page +1)}</a>
                </li>
                % endif

                % if page < pages:
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>

                <li>
                    <a class="pagination-link" href="/news?page=${pages}">${pages}</a>
                </li>
                % endif
              </ul>
        </nav>
    </div>
</section>

<%include file="sponsors.html" />
