<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = "admin_celery"
%>

## SEO Stuff
<%block name="title">Admin/Celery &middot; Glowstone</%block>
<%block name="description">Administration area - Celery</%block>

<%block name="og_title">Admin/Celery</%block>
<%block name="og_description">Administration area - Celery</%block>

<section class="section">
    <div class="container">
        <h1 class="title">Celery</h1>
        <div class="columns">
            <div class="column is-one-quarter is-offset-one-quarter">
                <a class="button is-primary is-fullwidth" href="/admin/celery/tasks">
                    Celery Tasks
                </a>
            </div>
            <div class="column is-one-quarter">
                <a class="button is-info is-fullwidth" href="/admin/celery/workers">
                    Celery Workers
                </a>
            </div>
        </div>
    </div>
</section>