<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = "admin_downloads"
%>

## SEO Stuff
<%block name="title">Admin/Downloads &middot; Glowstone</%block>
<%block name="description">Administration area - Downloads</%block>

<%block name="og_title">Admin/Downloads</%block>
<%block name="og_description">Administration area - Downloads</%block>

<section class="section">
    <div class="container">
        <h1 class="title">Products list</h1>
        <table class="table is-bordered is-striped">
            <thead>
            <tr>
                <th>Name (ID)</th>
                <th>Visibility</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            % for p in products:
            <tr>
                <td><strong>${p.id}</strong></td>
                <td>
                    % if p.hidden:
                    <span class="icon is-danger">
                        <i class="fa fa-eye-slash"></i>
                    </span>
                    % else:
                    <span class="icon is-success">
                        <i class="fa fa-eye"></i>
                    </span>
                    % endif
                </td>
                <td style="max-width: 1rem">
                    <a class="button is-danger is-small" href="/admin/downloads/delete-product/${p.id}?_csrf=${csrf}" title="Delete" >
                        <span class="icon">
                            <i class="fa fa-trash-o"></i>
                        </span>
                    </a>
                    <a class="button is-warning is-small" href="/admin/downloads/edit-product/${p.id}" title="Edit" >
                        <span class="icon">
                            <i class="fa fa-pencil"></i>
                        </span>
                    </a>
                </td>
            </tr>
            % endfor
            </tbody>
            <tfoot>
            <tr>
                <th>Name (ID)</th>
                <th>Visibility</th>
                <th>Actions</th>
            </tr>
            </tfoot>
        </table>
        <a href="/admin/downloads/create-product?_csrf=${csrf}" title="Create product" >
            <button class="button is-primary"><span class="icon"><i class="fa fa-plus"></i></span> &nbsp; Create product</button>
        </a>
    </div>
</section>