<%inherit file="../base.html"/>

## Current tab for navigation
<%!
    tab = "downloads"
%>

## SEO Stuff
<%block name="title">Downloads/${product.name} &middot; Glowstone</%block>
<%block name="description">Downloads for ${product.name}</%block>

<%block name="og_title">Downloads/${product.name}</%block>
<%block name="og_description">Downloads for ${product.name}</%block>

<nav class="nav has-shadow" style="padding-left: 1%">
    <div class="container">
        <div class="nav-left">
            % for p in products:
                % if not p.hidden:
                <a class="nav-item is-tab
                    % if p == product:
                        is-active
                    % endif
                >" href="/downloads/${p.id}">${p.name}</a>
                % endif
            % endfor
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        
    </div>
</section>

<%include file="../sponsors.html" />
