<%inherit file="base.html"/>

<section class="section" style="padding-bottom: 0;">
    <div class="content has-text-centered">
        <h1 class="title">Settings changed</h1>

        <p>This is just a notice to let you know that the following account settings have been changed:
            <%text>${settings}</%text>.
        </p>
        <br />
        <p>If you did not make these changes, please ensure your account is secure. Feel free to contact
            us if you run into any problems.
        </p>
    </div>
</section>